@import "../node_modules/normalize-scss/sass/normalize/import-now";

$dark-grey: #423b3e;
$light-green: #c1f6f5;

$green: #64dd78;
$red: #dd6464;
$medium-green: #7cabab;
$light-purple: #f6c1de;
$medium-purple: #bd6193;

* {
  box-sizing: border-box;
}

body {
  color: $dark-grey;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

.loaing-indicator__svg path,
.loaing-indicator__svg circle{
  fill: $medium-green;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: static;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

svg {
  width: 10vw;
  height: 10vw;
}

a:link,
a:visited {
  text-decoration: none;
  color: $medium-green;
}

.page-container {
  min-width: 100vw;
  min-height: 100vh;
  padding: 40px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/$light-green+0,f6c1de+100 */
  background: $light-green; /* Old browsers */
  background: -moz-linear-gradient(-45deg, $light-green 0%, $medium-purple 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, $light-green 0%,$medium-purple 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, $light-green 0%,$medium-purple 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-green', endColorstr='$medium-purple',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.container {
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  padding: 40px;
  box-shadow: 0px 0px 80px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.content {
  flex: 1 1 100%;
}

.sidebar {
  width: calc(33% - 20px);
  flex: 0 1 auto;
  margin-left: 20px;
}

.postlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  padding: 4px 8px;
  border-width: 1px;
  border-style: solid;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;;
  background: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  user-select: none;
  letter-spacing: 0.05em;
}

.btn--primary {
  color: $medium-purple;
  border-color: $medium-purple;
}

.btn--primary:link,
.btn--primary:visited {
  color: $light-purple;
  border-color: $light-purple;
}

input, textarea {
  padding: 4px;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid $medium-green;
  border-left: 0;
  width: 100%;
  margin-bottom: 8px;
}

input, textarea, select {
  width: 100%;
}

.vote-widget__container {
  display: flex;
  align-items: center;
}

.vote-widget__votes {
  margin: 0;
  font-style: italic;
  font-size: 0.8em;
}

.vote-widget__vote-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  margin: 0 0 0 10px;
}

.vote-widget__vote-btn--up {
  color: $green;
  border-color: $green;
}

.fa-thumbs-up {
  fill: $green;
}

.vote-widget__vote-btn--down {
  color: $red;
  border-color: $red;
}

.fa-thumbs-down {
  fill: $red;
}

.btn:link,
.btn:visited {
  text-decoration: none;
}

.btn:hover,
.btn:active {
    cursor: pointer;
}

.btn:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $medium-green;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  line-height: 1;
}

.heading-icon {
  width: 16px;
  height: 16px;
}

.heading-icon--left {
  margin-right: 4px;
}

.title-link:link,
.title-link:visited {
  color: $medium-green;
  text-decoration: none;
  transition: transform 1s ease;
}

.title-link:hover,
.title-link:active {
  color: $medium-green;
  transform: translateX(5px);
  transition: transform 1s ease;
}
