body {
  color: #423b3e;
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.loaing-indicator__svg path,
.loaing-indicator__svg circle{
  fill: #dd658d;
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: static;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

svg {
  width: 10vw;
  height: 10vw;
}

a:link,
a:visited {
  text-decoration: none;
  color: #dd658d;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f22e+0,ed2fca+100 */
  background: #f2f22e; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f2f22e 0%, #ed2fca 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f2f22e 0%,#ed2fca 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f2f22e 0%,#ed2fca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f22e', endColorstr='#ed2fca',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.container {
  display: flex;
  flex-flow: row nowrap;
  margin: 40px;
  padding: 40px;
  box-shadow: 0px 0px 80px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

.content {
  flex-basis: 66%; 
}

.sidebar {
  flex-basis: calc(33% - 20px);
  margin-left: 20px;
}

.postlist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  border-width: 1px;
  border-style: solid;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  user-select: none;
  letter-spacing: 0.05em;
}

.btn--primary {
  color: #dd658d;
  border-color: #dd658d;
}

.vote-widget__container {
  display: flex;
  align-items: center;
}

.vote-widget__votes {
  margin: 0;
  font-style: italic;
  font-size: 0.8em;
}

.vote-widget__vote-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  margin: 0 0 0 10px;
}

.vote-widget__vote-btn--up {
  color: #64dd78;
  border-color: #64dd78;
}

.fa-thumbs-up {
  fill: #64dd78;
}

.vote-widget__vote-btn--down {
  color: #dd6464;
  border-color: #dd6464;
}

.fa-thumbs-down {
  fill: #dd6464;
}

.btn:link,
.btn:visited {
  text-decoration: none;
}

.btn:hover,
.btn:active {
    cursor: pointer;
}

.btn:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #dd658d;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.heading-icon {
  width: 16px;
  height: 16px;
}

.heading-icon--left {
  margin-right: 4px;
}

.title-link:link,
.title-link:visited {
  color: #dd658d;
  text-decoration: none;
  transition: transform 1s ease;
}

.title-link:hover,
.title-link:active {
  color: #dd658d;
  transform: translateX(5px);
  transition: transform 1s ease;
}
